@font-face {
  font-family: "fkgrotesk";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  unicode-range: U+000-5FF;
  src: url("./fonts/FKGrotesk-Medium.woff2") format("woff2"),
    url("./fonts/FKGrotesk-Medium.woff") format("woff");
}
@font-face {
  font-family: "ibmplexsans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  unicode-range: U+000-5FF;
  src: url("./fonts/IBMPlexSans-Regular.woff2") format("woff2"),
    url("./fonts/IBMPlexSans-Regular.woff") format("woff");
}
@font-face {
  font-family: "ibmplexsans";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  unicode-range: U+000-5FF;
  src: url("./fonts/IBMPlexSans-SemiBold.woff2") format("woff2"),
    url("./fonts/IBMPlexSans-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "ibmplexsans";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  unicode-range: U+000-5FF;
  src: url("./fonts/IBMPlexSans-Light.woff2") format("woff2"),
    url("./fonts/IBMPlexSans-Light.woff") format("woff");
}
