@font-face {
  font-family: "fkgrotesk";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  unicode-range: U+000-5FF;
  src: url("https://assets.utrust.com/fonts/FKGrotesk/FKGrotesk-Medium.woff2")
      format("woff2"),
    url("https://assets.utrust.com/fonts/FKGrotesk/FKGrotesk-Medium.woff")
      format("woff");
}
@font-face {
  font-family: "ibmplexsans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  unicode-range: U+000-5FF;
  src: url("https://assets.utrust.com/fonts/IBMPlexSans/IBMPlexSans-Regular.woff2")
      format("woff2"),
    url("https://assets.utrust.com/fonts/IBMPlexSans/IBMPlexSans-Regular.woff")
      format("woff");
}
@font-face {
  font-family: "ibmplexsans";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  unicode-range: U+000-5FF;
  src: url("https://assets.utrust.com/fonts/IBMPlexSans/IBMPlexSans-SemiBold.woff2")
      format("woff2"),
    url("https://assets.utrust.com/fonts/IBMPlexSans/IBMPlexSans-SemiBold.woff")
      format("woff");
}
@font-face {
  font-family: "ibmplexsans";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  unicode-range: U+000-5FF;
  src: url("https://assets.utrust.com/fonts/IBMPlexSans/IBMPlexSans-Light.woff2")
      format("woff2"),
    url("https://assets.utrust.com/fonts/IBMPlexSans/IBMPlexSans-Light.woff")
      format("woff");
}
